.scroll {
  width: 100%;
  height: calc(100vh - 7rem);
}

.countries {
  padding: $default-padding-tb;
  max-width: 1300px;
  width: 90%;
  margin: 0 auto;

  &__filter {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 4rem;

    @media only screen and (max-width: $bp-small) {
      flex-direction: column;
    }
  }

  &__body {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(26.4rem, 26.4rem));
    gap: 2rem;
    justify-content: space-between;

    @media only screen and (max-width: $bp-large) {
      justify-content: center;
    }

    @media only screen and (max-width: $bp-small) {
      justify-content: center;
    }
  }

  /* &__scroll::-webkit-scrollbar {
    display: none;
  } */
}
