<main class="countries">
  <div class="countries__filter">
    <app-search-box (textOnChange)="getCountriesByText($event)"></app-search-box>
    <app-select-box (regionOnChange)="getCountriesByRegion($event)" [isActive]="isActive" (checkOnChange)="isActive = $event"></app-select-box>
  </div>
    <div class="countries__body">
      <app-country [@inOutAnimation] *ngFor="let country of countries; trackBy: countryTrackBy" [country]="country" (click)="goToCountryDetail(country.name)"></app-country>
      <app-not-found class="countries__empty" *ngIf="countries.length === 0 && !isLoading"></app-not-found>
    </div>
</main>

<app-button-scroll-top></app-button-scroll-top>
