.button-scroll-top {
  width: 6rem;
  height: 6rem;
  border-radius: 100%;
  background-color: var(--primary-text);
  opacity: .8;
  position: fixed;
  bottom: 2rem;
  right: 2rem;
  cursor: pointer;
  box-shadow: 0px 0px 0px 4px rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: center;
  align-items: center;
  transform: scale(0);
  transition: transform .3s;

  &__icon {
    width: 2rem;
    height: 2rem;
    path {
      fill: var(--element-color);
    }
  }

  &--active {
    transform: scale(1);
  }
}
