.selectbox {
  position: relative;
  width: 20rem;

  @media only screen and (max-width: $bp-small) {
    width: 100%;
    margin-top: 4rem;
  }

  &__check {
    display: none;
  }

  &__label {
    width: 100%;
    height: 5rem;
    display: block;
    background-color: var(--element-color);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 2rem;
    box-shadow: 0px 2px 9px -4px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    user-select: none;
    border-radius: 5px;
  }

  &__text {
    color: var(--input-color);
    font-size: 1.25rem;
    font-weight: 600;
    opacity: .8;
  }

  &__icon {
    stroke: var(--input-color);
    opacity: .8;

    path {
      fill: var(--input-color);
      opacity: .8;
    }
  }

  &__list {
    position: absolute;
    background-color: var(--element-color);
    color: var(--input-color);
    width: 100%;
    padding: 1rem 2rem;
    font-size: 1.25rem;
    font-weight: bold;
    margin: .5rem 0;
    box-shadow: 0px 2px 9px -4px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    display: grid;
    gap: .5rem;
    transition: all .2s;
    user-select: none;
  }

  &__item {
    cursor: pointer;
  }

  &__item--active,
  &__item:hover {
    opacity: .7;
  }
}
